.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
body, header
{
	font-family: 'Oxygen', sans-serif;
}
input.form-agregartienda
{
  background-color: #DCE7F5;
  border: 0;
  -webkit-transition: background-color linear .2s;
  -moz-transition: background-color linear .2s;
  -o-transition: background-color linear .2s;
  transition: background-color linear .2s;
  color: #555555;
  display: inline-block;
  font-size: 14px;
  height: 28px;
  line-height: 28px;
  margin-bottom: 10px;
  padding: 10px 6px;
  vertical-align: middle;
  width: 80%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
header
{
	text-align: center;
}
a.link-menu
{
	color: #fff;
	text-decoration: none;
}
a.link-menu:hover
{
	text-decoration: none;
}
 #cap-tienda
}
{
  background:#1abc9c; padding:10px 0; color:#fff; font-weight: 500; text-transform:uppercase;
}
  #cap-tiendas
{
  background:#34495e; padding:10px 0; color:#fff; font-weight: 500; text-transform:uppercase;
}
 #cap-codigos
{
  background:#e74c3c; padding:10px 0; color:#fff; font-weight: 500; text-transform:uppercase;
}
#cap-eventos
{
  background:#3498db; padding:10px 0; color:#fff; font-weight: 500; text-transform:uppercase;
}
#cap-usuarios
{
  background:#9b59b6; padding:10px 0; color:#fff; font-weight: 500; text-transform:uppercase; 
}
/***
Page sidebar
***/

/* ie8 fixes */
.ie8 .page-sidebar {
  position: absolute;
  width: 225px;
}

.page-sidebar.navbar-collapse {
  padding: 0;
}

.page-sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0; 
}

.page-sidebar-menu > li {
  display: block;
  margin: 0;
  padding: 0; 
  border: 0px;
}

.page-sidebar-menu > li.start > a {
   border-top-color: transparent !important;
}

.page-sidebar-menu > li:last-child > a,
.page-sidebar-menu > li.last > a {
   border-bottom-color: transparent !important;
}

.page-sidebar-menu > li > a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

.page-sidebar-fixed .page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.page-sidebar-menu > li > a i {
  font-size: 16px;
  margin-right: 5px;
  text-shadow:none; 
}

.page-sidebar-menu > li.break {
  margin-bottom: 20px;
}

.page-sidebar-menu > li.active > a {
  border: none; 
  text-shadow:none;
}  

.page-sidebar-menu > li.active > a .selected {
  display: block;
  width: 8px;
  height: 25px;
  background-image: url("../img/sidebar-menu-arrow.png");
  float: right;
  position: absolute;
  right:0px;
  top:8px;
}

.page-sidebar ul > li > a > .arrow:before {  
   float: right;
   margin-top: 0px;
   margin-right: 5px;
   display: inline;
   font-size: 16px;
   font-family: FontAwesome;
   height: auto;
   content: "\f104";
   font-weight: 300;
   text-shadow:none;
}

.page-sidebar-menu > li > a > .arrow.open:before {   
   float: right;
   margin-top: 0px;
   margin-right: 3px;
   display: inline;
   font-family: FontAwesome;
   height: auto;
   font-size: 16px;
   content: "\f107";
   font-weight: 300;
   text-shadow:none;
}

/* bagin: sidebar menu badges */
.page-sidebar-menu li > a > .badge {
   float: right;
   margin-top: 1px;
   margin-right: 13px;
}

/* end: sidebar menu badges */



/* sidebar search */
.page-sidebar .sidebar-search {
  padding:0;
  margin: 0;
}

.page-sidebar .sidebar-search .form-container {
  margin: 15px 20px 15px 20px;
  height: 35px;
  padding-top: 7px;
}

.page-sidebar .sidebar-search .form-container .submit {  
  display: block;
  float: right;
  margin-top: 3px;
  width: 13px;
  height: 15px;
  background-repeat: no-repeat;
  box-shadow: none;
  border: 0px; 
  padding: 0px;
  outline: none !important;
}
 
.page-sidebar .sidebar-search .form-container input[type="text"] {
  margin: 0px;
  width: 165px;
  border: 0px;
  padding: 0 !important;
  font-size: 14px !important;
  box-shadow: none !important;
  font-size: 14px;
  font-weight: normal;
}

.page-sidebar .sidebar-search .form-container input[type="text"]:focus {
  outline: none !important;
}

/***
Sidebar toggler(show/hide)
***/
.sidebar-toggler {
	background-image: url(/public/img/sidebar-toggler.jpg);
	background-color: #242424;
  cursor: pointer; 
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 29px;
  height: 29px;
  background-repeat: no-repeat;
}

.sidebar-toggler:hover { 
  filter: alpha(opacity=100);
  opacity: 1;
}

.page-sidebar .sidebar-toggler {
  margin-top: 15px;
  margin-left: 175px;
}

.header .sidebar-toggler {
  display: inline-block;
  margin-top: 6px;
  margin-left: -42px;
}

.page-sidebar-closed .page-sidebar .sidebar-toggler {  
  margin-left: 3px;
}

.page-sidebar-closed .page-sidebar .sidebar-search .form-container {  
  width: 29px;
  margin-left: 3px; 
}

.page-sidebar-closed .page-sidebar .sidebar-search .form-container .input-box {  
  border-bottom: 0 !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search .form-container input[type="text"] {
  display: none;
}

.page-sidebar-closed .page-sidebar .sidebar-search .form-container .submit { 
  margin-top: 5px !important;
  margin-left: 7px !important;
  margin-right: 7px !important;
  display: block !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container {
  width: 255px;
  position: relative;
  z-index: 1;
  padding-top: 0px;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container input[type="text"] {  
  margin-top: 7px;
  margin-left: 8px;
  padding-left: 10px;
  padding-bottom: 2px;
  width: 185px;
  display: inline-block !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .submit {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 11px 8px 9px 6px !important;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .form-container .remove {
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  margin: 12px 8px 9px 8px !important;
  display: inline-block !important;
  float: left !important;
}

.page-sidebar-closed .page-sidebar-menu > li > a .selected {
  right: -3px !important;
}

.page-sidebar-closed .page-sidebar-menu > li > a > .title,
.page-sidebar-closed .page-sidebar-menu > li > a > .arrow {
  display: none !important;
}

.page-sidebar-closed .page-sidebar .sidebar-toggler {
  margin-right: 3px;
}

.page-sidebar-closed .page-sidebar .sidebar-search {
  margin-top: 6px;
  margin-bottom: 6px;
}

.page-sidebar-closed .page-sidebar-menu {
  width: 35px !important;
}

.page-sidebar-closed .page-sidebar-menu > li > a {
  padding-left: 7px;
}

.page-sidebar-fixed.page-sidebar-closed .page-sidebar-menu > li > a {
  -webkit-transition: all 0.2s ease;
     -moz-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.page-sidebar-closed .page-sidebar-menu > li:hover {
  width: 236px !important;
  position: relative !important;
  z-index: 2000;
  display: block !important;
}

.page-sidebar-closed .page-sidebar-menu > li:hover .selected {
  display: none;
}

.page-sidebar-closed .page-sidebar-menu > li:hover > a > i {
  margin-right: 10px;
}

.page-sidebar-closed .page-sidebar-menu > li:hover .title {
  display: inline !important;
}

/* sidebar container */
 
.page-sidebar-closed  .page-sidebar {
  width: 35px;
}

.page-sidebar-closed  .page-content {
  margin-left: 35px !important;
}
.menu-tiendas li a
{
  text-decoration: none;
  color: #34495e;
  font-family: 'Oxygen', sans-serif;
  font-weight: 100;
}
.menu-tiendas li a:hover
{
  text-decoration: none;
  color: #3498db;
}