@import url('fonts.css');

section {
padding: 72px 0;
}

/* ========== HEADER SECTION ========== */
#header {
  background-color: #2d2d2d;
  position: fixed;
  font-size: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

.gn-menu-main {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 70px;
font-size: 13px;
z-index: 100;
}

.gn-menu-main, .gn-menu-main ul {
margin: 0;
padding: 0;
background: #2c3e50;
border-bottom: 1px solid #253443;
color: #ffffff;
list-style: none;
text-transform: none;
font-weight: 300;
font-family: 'Lato', Arial, sans-serif;
line-height: 70px;
}

.gn-menu-main:after {
display: table;
clear: both;
content: "";
}

.gn-menu-main li.gn-trigger {
position: relative;
width: 69px;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.gn-menu-main > li {
display: block;
float: left;
height: 100%;
border-right: 1px solid #253443;
text-align: center;
}

.gn-menu-main > li > a {
padding: 0 30px;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 200;
line-height: 70px;
}
.gn-menu-main a {
display: block;
height: 100%;
color: #ffffff;
text-decoration: none;
cursor: pointer;
font-family: 'Lato', Arial, sans-serif;
}

a {
-webkit-transition: all 0.3s;
transition: all 0.3s;
}

.gn-menu-wrapper {
position: fixed;
top: 70px;
bottom: 0;
left: 0px;
z-index: 1000;
overflow: hidden;
width: 70px;
background: #253443;
-webkit-transform: translateX(-70px);
-moz-transform: translateX(-70px);
transform: translateX(-70px);
-webkit-transition: -webkit-transform 0.3s, width 0.3s;
-moz-transition: -moz-transform 0.3s, width 0.3s;
transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
position: absolute;
overflow-y: scroll;
width: 370px;
height: 100%;
}

.gn-menu {
border-bottom: 1px solid #253443;
text-align: left;
font-size: 1.5em;
}
/* HEADER RESIZE ON SCROLL */


/* ========== HEADER 2 ========== */



/* ========== INICIO SECTION ========== */

#inicio {
background-color: rgba(0, 0, 0, 0.15);
padding-top: 15px;
margin-top: 110px;
padding-bottom: 0;
}